
<link rel="stylesheet" media="screen" href="https://cdn.shopify.com/s/files/1/2021/3861/files/accordion_style_other.css?10055537387972428083" />

<div id="homepage-accordion" class="homepage-accordion">
    <div class="cms--accordion">
      
<div class="accordion--container" data-component-id="801">
  <div class="accordion _is-normal" data-accordion data-meet-popuband data-scroll-past>
    <div class="accordion--image" data-accordion-image data-scroll-past-item></div>
    <div class="accordion--headline">
      
    </div>
    <div class="accordion--items" data-meet-popuband-items data-accordion-items data-scroll-past-item>
	        
	<div class="accordion-item"
	      data-component-id="803"
	      data-accordion-item="true"
	      data-accordion-item-id="0"
	      data-meet-popuband-item="true"
	      data-meet-popuband-item-id="0">
	  <div class="accordion-item--content -flush-on-mobile">
	    <div class="accordion-item--right-left" >
	      <div class="accordion-item--top">
	        <h2 class="accordion-item--content-title" >
	           Populele Distinction
	        </h2>
            <div class="accordion-item--content-body">
              <ul class='markdown--ul'>
                <li> An exciting hybrid of craftsmanship, tech, and fun, Populele redefines quality musical instruments.</li>
                <li> First class materials. Patented technology. Ergonomic design. </li>
                <li> Populele is unique and so are you. Learn and play like no one else.</li>
				 <a class="dynamic-button-1" href="/pages/product" ><b>Take A Close Look</b></a>
              </ul>
	        </div>
                           
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item--cover">
	    <div class="accordion-item--cover-blurb">
	      <div class="accordion-item--cover-blurb-title">
	         Meet Populele
	      </div>
	      <div class="accordion-item--cover-blurb-subtitle">
	          Populele Distinction
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item--nav-label">
	     Meet Populele
	  </div>

	  <div class="accordion-item--action" data-meet-popuband-item--action>
	    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 37 37" version="1.1">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="Homepage_1024_Expanded-1" transform="translate(-892.000000, -1294.000000)">
		            <g id="Oval-105-Copy-3-+-Line-+-Line-Copy-10-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy" transform="translate(892.000000, 1294.000000)">
		                <circle id="Oval-105-Copy-3" fill="#FFFFFF" cx="18.5" cy="18.5" r="17.8833333"></circle>
		                <path d="M18.5,11.1 L18.5,25.9" id="Line" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
		                <path d="M25.9,18.5 L11.1,18.5" id="Line-Copy-10" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
		            </g>
		        </g>
		    </g>
		</svg>
	  </div>

	</div>

        
<div class="accordion-item"
      data-component-id="804"
      data-accordion-item="true"
      data-accordion-item-id="1"
      data-meet-popuband-item="true"
      data-meet-popuband-item-id="1">
  <div class="accordion-item--content -flush-on-mobile">
    <div class="accordion-item--left" style="flex: 0 0 42%">
      <div class="accordion-item--top">
        <h2 class="accordion-item--content-title">
          Why Populele
        </h2>
        <div class="accordion-item--content-body">
            <ul class='markdown--ul'>
            <li>Most people desire to master an instrument, but many give up or fear to start. </li>
            <li>Populele removes the roadblocks in your musical journey. No more expensive private classes or confusing online tutorials. Practice is never again boring or frustrating. </li>
            <li>Give your loved ones the Populele advantage. </li>
              <a class="dynamic-button-1" href="/pages/why-populele"><b>Learn More</b></a>
            </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="accordion-item--cover">
    <div class="accordion-item--cover-blurb">
      <div class="accordion-item--cover-blurb-title">
        Why Populele
      </div>
      <div class="accordion-item--cover-blurb-subtitle">
        The Populele Advantage
      </div>
    </div>
  </div>
  <div class="accordion-item--nav-label">
    Why Populele
  </div>
  <div class="accordion-item--action" data-meet-popuband-item--action>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 37 37" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage_1024_Expanded-1" transform="translate(-892.000000, -1294.000000)">
            <g id="Oval-105-Copy-3-+-Line-+-Line-Copy-10-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy" transform="translate(892.000000, 1294.000000)">
                <circle id="Oval-105-Copy-3" fill="#FFFFFF" cx="18.5" cy="18.5" r="17.8833333"></circle>
                <path d="M18.5,11.1 L18.5,25.9" id="Line" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
                <path d="M25.9,18.5 L11.1,18.5" id="Line-Copy-10" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
            </g>
        </g>
    </g>
</svg>

  </div>
</div>
   
<div class="accordion-item"
      data-component-id="805"
      data-accordion-item="true"
      data-accordion-item-id="2"
      data-meet-popuband-item="true"
      data-meet-popuband-item-id="2">
  <div class="accordion-item--content -flush-on-mobile">
    <div class="accordion-item--left">
      <div class="accordion-item--top">
        <h2 class="accordion-item--content-title">
          How Populele Works
        </h2>
        <div class="accordion-item--content-body">
          <ul class='markdown--ul'>
            <li>From how to hold the instrument properly to advanced strumming patterns, Populele’s award-winning learning system eases you through the learning curve. </li>
            <li>Learn and memorize chords easily with LED lights and instant feedback. Keep motivated with arcade games and song library. </li>
            <li>Take the first step or next step in your musical journey with Populele. </li>
            <a class="dynamic-button-1" href="/pages/app"><b>Explore the APP</b></a>
          </ul>
        </div>
                  
      </div>
    </div>
  </div>
  <div class="accordion-item--cover">
    <div class="accordion-item--cover-blurb">
      <div class="accordion-item--cover-blurb-title">
        How Populele Works 
      </div>
      <div class="accordion-item--cover-blurb-subtitle">
         The Populele Methodology
      </div>
    </div>
  </div>
  <div class="accordion-item--nav-label">
    How Populele Works 
  </div>
  <div class="accordion-item--action" data-meet-popuband-item--action>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 37 37" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage_1024_Expanded-1" transform="translate(-892.000000, -1294.000000)">
            <g id="Oval-105-Copy-3-+-Line-+-Line-Copy-10-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy" transform="translate(892.000000, 1294.000000)">
                <circle id="Oval-105-Copy-3" fill="#FFFFFF" cx="18.5" cy="18.5" r="17.8833333"></circle>
                <path d="M18.5,11.1 L18.5,25.9" id="Line" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
                <path d="M25.9,18.5 L11.1,18.5" id="Line-Copy-10" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
            </g>
        </g>
    </g>
</svg>

  </div>
</div>

    </div>
  </div>
</div>
    </div>
</div>
<script src="https://cdn.shopify.com/s/files/1/2021/3861/files/accordion_002.js?3072308791666306334"></script>

{% schema %}
  {
  "name": "flexbox-accordion",
  "settings": [],
  "presets": [
  {
  "name": "accordion_2",
  "category": "new"
  }
  ]
  }

{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}
