<style type="text/css">

  .app-compatible {
    position: relative;
    text-align: center;
    color: white;
    background-image: url(//cdn.shopify.com/s/files/1/2021/3861/files/app_compatible.jpg?18429102298569107592);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .app-compatible-centered {
    width:100%;
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: bold;

  }
  .app-compatible-centered-2{
    width:100%;
    position: relative;
    color: #fff;
    font-size: 14px;
    
    
  }
  .app-compatible-img{
    margin-top:10px;
    margin-bottom:0px;
    height:60px;
    width:60px;
  }
  @media screen and (max-width: 1203px) and (min-width: 768px) {
    .app-compatible-centered {
      font-size: 34px;
    }
    .app-compatible-centered-2{
      font-size: 18px;
    }
    .app-compatible-img{
      margin-top:14px;
      margin-bottom:10px;
      height:80px;
      width:80px;
    }
  }
  @media screen and (max-width: 1440px) and (min-width: 1204px) {
    .app-compatible-centered {
      font-size: 44px;
    }
    .app-compatible-centered-2{
      font-size: 20px;
    }
    .app-compatible-img{
      margin-top:20px;
      margin-bottom:10px;
      height:100px;
      width:100px;
    }
  }
  @media screen and (min-width: 1441px) {
    .app-compatible-centered {
      font-size: 54px;
    }  
    .app-compatible-centered-2{
      font-size: 24px;
    }
    .app-compatible-img{
      margin-top:20px;
      margin-bottom:10px;
      height:140px;
      width:140px;
    }
  }


</style>


<section class="module-container">

  <div class="app-compatible">

    <br><br><br><br>

    <img class="app-compatible-img"
         src="//cdn.shopify.com/s/files/1/2021/3861/files/populele-app-icon02082018_-01.png?7821237282840569201"   
         alt="Compatible with Android and iOS" >

    <div class="app-compatible-centered">STEP BY STEP TUTORIAL</div>

    <div class="app-compatible-centered-2">Compatible with Android and iOS</div>

    <br><br><br><br>

  </div>

</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
