<style>
  @media only screen and (min-width: 1440px) {
    .desktop-specification-img {
      width: 100vw; 
      height: 41vw;
      background:url(//cdn.shopify.com/s/files/1/2021/3861/files/specification1.7.jpg?2230318510294781943);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  @media only screen and (max-width: 1439px) and (min-width: 768px){
    .ipad-specification-img {
      width: 100vw;
      height: 41vw;
      background:url(//cdn.shopify.com/s/files/1/2021/3861/files/specification1.2__369.jpg?12803840547430287471);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  @media only screen and (max-width: 767px) {
    .mobile-specification-img{
      width: 100vw;
      height: 150vw;
      background:url(//cdn.shopify.com/s/files/1/2021/3861/files/iPhone_6-7-8_4.png?16293219907205306395);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  
</style>


<!-- Desktop > 1024px -->


<div  class="show-desktop-2 desktop-specification-img" > </div>

<!-- 767 <  Pad < 1024 -->

<div class="show-pad-2 ipad-specification-img"> </div>


<!--  mobile < 768  -->

<div class="show-mobile-2 mobile-specification-img"> </div>



<div class="show-mobile-2" style=" margin-left: 0%; margin-right:0%; #p{font-size:10px;} "> 

  <div class="row" style="padding-left:4%;">

    <div class="row" >
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> MODEL</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p> POPULELE U1</p>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> WEIGHT</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p> 1.1 lbs </p>
      </div>
    </div>

    <div class="row" >
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> STRING</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p> Italian Aquila</p>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> SOUND BOARD</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p> Premium Spruce</p>
      </div>
    </div>
    <div class="row" >
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> FRET BOARD</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <li>ABS Plastic </li>
        <li>72 LED Built-in Lights</li>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> NECK</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p> Premium European Maple </p>
      </div>
    </div>

    <div class="row" >
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> BATTERY TYPE</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p> 800mAh Lithium Battery</p>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> CHARGING TIME</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p> 2.5 HR</p>
      </div>
    </div>

    <div class="row" >
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> USING TIME</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p> 10 HR </p>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> BLUETOOTH</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p> Bluetooth 4.0 BLE</p>
      </div>
    </div>

    <div class="row">
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> SYSTEM REQUIREMENTS</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <li> Android 4.3 or Higher</li>
        <li> iOS 8.0 or Higher</li>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-5">
        <p> SUPPORT</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-7">
        <p>support@popuband.com </p>
      </div>
    </div>
  </div>


</div>




{% schema %}
  {
    "name": "Specification",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
