


<!-- Desktop > 1024px -->

<div class="show-desktop-2" style="margin-left: 14%; margin-right:12%; line-height: 1; "> 

  <div class="row" style="margin:0 0 0 0;"> 
    <br><br>
    <div class="col-md-12 col-sm-12 col-xs-12" align="center"> 

      <span style="color:white; font-size:36px;">SPECIFICATIONS</span> 
    </div>
  </div>

  <div class="row" style="margin:0 0 0 0; ">


    <div class="col-md-8 col-sm-6 col-xs-12" > 

      <br><br>

      <div class="row"> 
        <div class="col-md-3 col-sm-6 col-xs-12" > 
          <h5> MODEL: <span style="color:white; font-size:16px;"> POPULELE U1</span> </h5>
          <br/>
          <h5>STRING </h5>
          <p>Italian Aquila</p>

          <h5>SOUND BOARD</h5>
          <p>Premium Spruce</p>

          <h5>FRET BOARD</h5>
          <li>ABS Plastic</li>
          <li>72 LED Built-in Lights</li>

          <h5>NECK</h5>
          Premium European
          Maple

        </div>

        <div class="col-md-4 col-sm-6 col-xs-12" > 

          <h5> WEIGHT: <span style="color:white; font-size:16px;"> 1.1 lbs</span> </h5>
          <br/>
          <h5>BATTERY TYPE </h5>
          <p>800mAh Lithium Battery</p>

          <h5>CHARGING PORT</h5>
          <p>Micro USB</p>

          <h5>CHARGING TIME</h5>
          <p>2.5 HR</p>
          <h5>USING TIME</h5>
          <p>10 HR</p>

        </div>

        <div class="col-md-5 col-sm-6 col-xs-12" > 
          <h5 style="visibility:hidden;" >NA</h5 >
          <br/>
          <h5>BLUETOOTH </h5>
          <p>Bluetooth 4.0 BLE</p>
          <h5>SYSTEM REQUIREMENTS</h5>
          <li>Android 4.3 or Higher</li>
          <li>iOS 8.0 or Higher</li>
          <br>
          <h5>SUPPORT</h5>
          For Further Support:
          <a href="https://community.popubandmusic.com/">community.popubandmusic.com</a>

        </div>
      </div>


    </div>

    <div class="col-md-4 col-sm-6 col-xs-12" style="
                                                    float:none;
                                                    display:inline-block;
                                                    vertical-align:middle;
                                                    "> 

      <img src="https://cdn.shopify.com/s/files/1/2021/3861/files/populele-01.png?6865485766173643750"
           style="height:35vw;                                              
                  "  > 
    </div>
  </div>
</div>


<!-- 480 <  Pad < 1024 -->
<div class="show-pad-2" style="margin-left: 14%; margin-right:10%; "> 

  <div class="row" style="margin:0 0 0 0;"> 
    <br><br>
      <div class="col-md-12 col-sm-12 col-xs-12" align="center"> 

        <span style="color:white; font-size:36px;">SPECIFICATIONS</span> 
      </div>
  </div>
  
  <div class="row" style="margin:0 0 0 0; ">
   
   
    <div class="col-md-12 col-sm-12 col-xs-12" > 
      
      	<br><br>
      
      	<div class="row"> 
          	<div class="col-md-4 col-sm-4 col-xs-12" > 
              <h4> MODEL: <span style="color:white; font-size:16px;"> POPULELE U1</span> </h4>
              <br/>
              <h4>STRING </h4>
              <p>Italian Aquila</p>
              
              <h4>SOUND BOARD</h4>
              <p>Premium Spruce</p>
              
              <h4>FRET BOARD</h4>
              <li>ABS Plastic</li>
              <li>72 LED Built-in Lights</li>
              
              <h4>NECK</h4>
              Premium European
              Maple

          	</div>
          
          	<div class="col-md-4 col-sm-4 col-xs-12" > 
              
                <h4> WEIGHT: <span style="color:white; font-size:16px;"> 1.1 lbs</span> </h4>
                <br/>
                <h4>BATTERY TYPE </h4>
             	<p>800mAh Lithium Battery</p>

                <h4>CHARGING PORT</h4>
              	<p>Micro USB</p>

                <h4>CHARGING TIME</h4>
              	<p>2.5 HR</p>
                <h4>USING TIME</h4>
              	<p>10 HR</p>
                
          	</div>
          
          	<div class="col-md-4 col-sm-4 col-xs-12" > 
                <h4 style="visibility:hidden;" >NA</h4 >
                <br/>
                <h4>BLUETOOTH </h4>
              	<p>Bluetooth 4.0 BLE</p>
                <h4>SYSTEM REQUIREMENTS</h4>
              	<li>Android 4.3 or Higher</li>
              	<li>iOS 8.0 or Higher</li>
				<br>
                <h4>SUPPORT</h4>
                For Further Support:
                <a href="https://community.popubandmusic.com/">community.popubandmusic.com</a>
              
          	</div>
        </div>
      
    </div>

  </div>
</div>


<!--  mobile < 480  -->
<div class="show-mobile-2" style="margin-left: 4%; margin-right:0%; #p{font-size:10px;} "> 

  <div class="row" style="margin:0 0 0 0;"> 
      <div class="col-xs-12" align="center"> 
        <span style="color:white; font-size:28px;">SPECIFICATIONS</span> 
      </div>
  </div>
  <div class="row">


    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> MODEL</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> POPULELE U1</p>
      </div>
    </div>

    <div class="row">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> WEIGHT</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> 1.1 lbs </p>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> STRING</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> Italian Aquila</p>
      </div>
    </div>

    <div class="row">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> SOUND BOARD</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> Premium Spruce</p>
      </div>
    </div>
    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> FRET BOARD</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <li>ABS Plastic </li>
        <li>72 LED Built-in Lights</li>
      </div>
    </div>

    <div class="row">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> NECK</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <li> Premium European</li>
        <li> Maple </li>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> BATTERY TYPE</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> 800mAh Lithium Battery</p>
      </div>
    </div>

    <div class="row">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> CHARGING TIME</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> 2.5 HR</p>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> USING TIME</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> 10 HR </p>
      </div>
    </div>

    <div class="row">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> BLUETOOTH</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> Bluetooth 4.0 BLE</p>
      </div>
    </div>

    <div class="row" style= "background-color: #d9d9d9 ;">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> SYSTEM REQUIREMENTS</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <li> Android 4.3 or Higher</li>
        <li> iOS 8.0 or Higher</li>
      </div>
    </div>

    <div class="row">
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p> SUPPORT</p>
      </div>
      <div  class="col-md-6 col-sm-6 col-xs-6">
        <p><a href="https://community.popubandmusic.com">Popuband Community</a></p>
      </div>
    </div>
  </div>


</div>




{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
