
<style type="text/css">

  .why-populele-learnes-left-left{
    float:left; 
    width: 20%; 
    margin-top: 5%;  
    position: relative;

  }
  .why-populele-learnes-left-right{
    float:right;
    width:80%;
    padding: 0 0;

  }
  .why-populele-learnes-right-left{
    float:left;
    width: 80%;
    padding: 0 0;
  }
  
  @media only screen and (max-width: 767px) {
    .why-populele-learnes-left-right{
      width:75%;
      margin-right:5%;
    }
    .why-populele-learnes-right-left{
      width: 75%;
      margin-left:5%;
    }
  }
  
  .why-populele-learnes-right-right{
    float:right; 
    width: 20%; 
    margin-top: 5%;  
    position: relative;
  }

  .why-poulele-learners-article-left{
    position: relative;
    top: 150px;
    left: 20%;
    background-color: #ffb366;
    width:350%;
    padding: 10px 20px;

  }
  .why-poulele-learners-article-right{
    position: relative;
    top: 150px;
    left:-270%;
    background-color: #ffb366;
    width:350%;
    padding: 10px 20px;
  }
  .why-poulele-learners-article-header{
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-top:0px;
  }
  .why-poulele-learners-article-content{
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    line-height: 1.625;
    text-align: center;
    color: #fff;
  }
  .why-poulele-learners-article-content-2{
    font-size: 10px;
    text-align: center;
    color: #fff;
  }
  .why-populele-learners-row{
    display: inline-block;
    margin: 32px 0; 
  }
  .why-populele-learners-row-2{
    display: inline-block;
    margin: 32px 0;
    vertical-align: middle;
  }
  @media only screen and (max-width: 767px) {
    .why-populele-learners-row-2{
      margin-bottom: 100px;
    }
    
    
  }
  .why-populele-margin-control{
    margin: 50px 0;
    visibility: hidden;
  }

  @media only screen and (max-width: 1440px) and (min-width: 768px) {
    .why-populele-learnes-left-left{
      float:left; 
      width: 40%; 
      margin-top: 5%;  
      position: relative;

    }
    .why-populele-learnes-left-right{
      float:right;
      width:60%;
      padding: 0 5%;
    }

    .why-populele-learnes-right-left{
      float:left;
      width: 60%;
      padding: 0 5%;

    }
    .why-populele-learnes-right-right{
      float:right; 
      width: 40%; 
      margin-top: 5%;  
    }

    .why-poulele-learners-article-left{
      position: relative;
      top: 50px;
      left: 10%;
      background-color: #ffb366;
      width:130%;
      padding: 20px 20px;

    }
    .why-poulele-learners-article-right{
      position: relative;
      top: 50px;
      left:-40%;
      background-color: #ffb366;
      width:130%;
      padding: 20px 20px;

    }
    .why-poulele-learners-article-header{
      font-size: 28px;
      text-align: center;
      color: #fff;
    }
    .why-poulele-learners-article-content{
      font-size: 16px;
      text-align: center;
      color: #fff;
    }
    .why-poulele-learners-article-content-2{
      font-size: 12px;
      text-align: center;
      color: #fff;
    }
    .why-populele-margin-control{
      margin: 0 0;
    }
    .why-populele-learners-row{
      margin: 96px 0 0 0; 
    }
    .why-populele-learners-row-2{
      margin: 96px 0; 
    }
  }

  @media only screen and (min-width: 1441px) {
    .why-populele-learnes-left-left{
      float:left; 
      width: 30%; 
      margin-top: 5%;  
      position: relative;

    }
    .why-populele-learnes-left-right{
      float:right;
      width:60%;
      padding: 0 3%;
      align-items: left;
    }

    .why-populele-learnes-right-left{
      float:left;
      width: 60%;
      padding: 0 3%;

    }
    .why-populele-learnes-right-right{
      float:right; 
      width: 30%; 
      margin-top: 5%;  
      position: relative;
    }

    .why-poulele-learners-article-left{
      position: relative;
      top: 100px;
      left:35%;
      background-color: #ffb366;
      width:140%;
      padding: 30px 40px;

    }
    .why-poulele-learners-article-right{
      position: relative;
      top: 100px;
      left: -70%;
      background-color: #ffb366;
      width:140%;
      padding: 30px 40px;

    }
    .why-poulele-learners-article-header{
      font-size: 34px;
      text-align: center;
      color: #fff;
    }
    .why-poulele-learners-article-content{
      font-size: 20px;
      text-align: center;
      color: #fff;
    }
    .why-poulele-learners-article-content-2{
      font-size: 16px;
      text-align: center;
      color: #fff;
    }
    .why-populele-margin-control{
      margin: 0 0;
    }
    .why-populele-learners-row{
      margin: 128px 0 0 0; 
    }
    .why-populele-learners-row-2{
      margin: 128px 0; 
    }

  }

</style>


<div class="why-populele-learners-row">
  <div class="why-populele-learnes-left-left">

    <article class="why-poulele-learners-article-left">
      <h2 class="why-poulele-learners-article-header" >UNLEASH THE HEALING POWER OF MUSIC</h2>

      <p class="why-poulele-learners-article-content" >Don't let anything stand between your loved ones and the joy of mastering an instrument. With Populele, anyone and everyone can have their musical dream come true. </p>
      <i class="why-poulele-learners-article-content-2 hide-mobile">
        "So excited! My son loves learning from his iPad. He is so excited to get this and start to learn the ukulele. Excuse me, the Populele!" - Chris M. WA
      </i>
    </article>

  </div>

  <div class="why-populele-learnes-left-right">
    <img style="width:100%;  vertical-align: middle;" src="//cdn.shopify.com/s/files/1/2021/3861/files/theadamgregory__-5_3ca59d32-3d14-48e4-8914-31a7ab61470a.jpg?11507939181953511068">

  </div>
</div>

<hr class="why-populele-margin-control">

<div class="why-populele-learners-row-2">
  <div class="why-populele-learnes-right-right">

    <article class="why-poulele-learners-article-right">
      <h2 class="why-poulele-learners-article-header"> BRING THE JOY OF MUSIC TO YOUR FAMILY</h2>

      <p class="why-poulele-learners-article-content" >Let Populele be your private family tutor. One time investment. Lifetime value of the entire family. </p>
      <i class="why-poulele-learners-article-content-2 hide-mobile" >
        “My children have been asking to take music lessons. The Populele is amazing! I’m so happy we decided to order this product. Even I’m learning, and my kids have made practice a competition (the 4 year old is winning!).” - Thomas C. CA
      </i>
    </article>

  </div>

  <div class="why-populele-learnes-right-left" align="left">
    <img style="width:100%;  vertical-align: middle;" src="//cdn.shopify.com/s/files/1/2021/3861/files/1_1d9fedbe-7c43-4dfc-8013-4859cc2ec6b9.jpg?17214454235299439047">

  </div>
</div>

{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
