<style>
  
  .module-container {  
    visibility:hidden;
  }
  
</style>


<div class="rte">
  {{ page.content }}
</div>


{% section '2-whyPopulele-edisonAward' %}

{% section '2-whyPopulele-image-02' %}

{% section '2-new-imageTextOverlay04' %}

{% section '2-whyPopulele-learners-01' %}

{% section '2-new-imageTextOverlay05' %}

{% section 'video-lazyLoadAlternating-01' %}

{% section '2-new-imageTextOverlay06' %}

{% section '2-whyPopulele-doubleV-01' %}


<script>
  
  window.onload = function(){
    
    var element = document.getElementById("control-main");

    element.classList.remove("main-content");
    
    var visibility_control = document.getElementsByClassName('module-container');

    for(var i = 0; i < visibility_control.length; i++){    
    	visibility_control[i].style.visibility = 'visible';
    }
  };

</script>

<script>
  
  var youtube = document.querySelectorAll( ".youtube-video" );

  // loop
  for (var i = 0; i < youtube.length; i++) {

    // thumbnail image
    var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/sddefault.jpg";
    
    var image = new Image();
    image.src = source;
    image.addEventListener( "load", function() {
      youtube[ i ].appendChild( image );
    }( i ) );
    
    youtube[i].addEventListener( "click", function() {

      var iframe = document.createElement( "iframe" );

      iframe.setAttribute( "frameborder", "0" );
      iframe.setAttribute( "allowfullscreen", "" );
      iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );

      this.innerHTML = "";
      this.appendChild( iframe );
    } );
    
  }
</script>