
<link rel="stylesheet" media="screen" href="https://cdn.shopify.com/s/files/1/2021/3861/files/accordion_style_other.css?4724176952860439101" />

<div id="homepage-accordion" class="homepage-accordion">
    <div class="cms--accordion">
      
<div class="accordion--container" data-component-id="801">
  <div class="accordion _is-normal" data-accordion data-meet-popuband data-scroll-past>
    <div class="accordion--image" data-accordion-image data-scroll-past-item></div>
    <div class="accordion--headline">
      Meet Populele&#39;s
    </div>
    <div class="accordion--items" data-meet-popuband-items data-accordion-items data-scroll-past-item>
	        
	<div class="accordion-item"
	      data-component-id="803"
	      data-accordion-item="true"
	      data-accordion-item-id="0"
	      data-meet-popuband-item="true"
	      data-meet-popuband-item-id="0">
	  <div class="accordion-item--content -flush-on-mobile">
	    <div class="accordion-item--right">
	      <div class="accordion-item--top">
	        <h2 class="accordion-item--content-title">
	          Heading 1 (inside)
	        </h2>
	        <div class="accordion-item--content-body">
	          <div>title 1 </div><ul class='markdown--ul'>
        <li>list 1</li>
        <li>list 2</li>
        <li>list 3</li>
	</ul>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item--cover">
	    <div class="accordion-item--cover-blurb">
	      <div class="accordion-item--cover-blurb-title">
	        Heading Outside 1(repeat)
	      </div>
	      <div class="accordion-item--cover-blurb-subtitle">
	        Title 1 outside
	      </div>
	    </div>
	  </div>
	  <div class="accordion-item--nav-label">
	    Heading Outside 1(repeat)
	  </div>

	  <div class="accordion-item--action" data-meet-popuband-item--action>
	    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 37 37" version="1.1">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="Homepage_1024_Expanded-1" transform="translate(-892.000000, -1294.000000)">
		            <g id="Oval-105-Copy-3-+-Line-+-Line-Copy-10-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy" transform="translate(892.000000, 1294.000000)">
		                <circle id="Oval-105-Copy-3" fill="#FFFFFF" cx="18.5" cy="18.5" r="17.8833333"></circle>
		                <path d="M18.5,11.1 L18.5,25.9" id="Line" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
		                <path d="M25.9,18.5 L11.1,18.5" id="Line-Copy-10" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
		            </g>
		        </g>
		    </g>
		</svg>
	  </div>

	</div>

        
<div class="accordion-item"
      data-component-id="804"
      data-accordion-item="true"
      data-accordion-item-id="1"
      data-meet-popuband-item="true"
      data-meet-popuband-item-id="1">
  <div class="accordion-item--content -flush-on-mobile">
    <div class="accordion-item--left">
      <div class="accordion-item--top">
        <h2 class="accordion-item--content-title">
          Heading 2 (inside)
        </h2>
        <div class="accordion-item--content-body">
          <div>Title 2</div><ul class='markdown--ul'>
            <li>List 1</li>
            <li>List 2</li>
            <li>List 3</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item--cover">
    <div class="accordion-item--cover-blurb">
      <div class="accordion-item--cover-blurb-title">
        Heading 2 outside (repeat)
      </div>
      <div class="accordion-item--cover-blurb-subtitle">
        Title 2 outside
      </div>
    </div>
  </div>
  <div class="accordion-item--nav-label">
    Heading 2 outside (repeat)
  </div>
  <div class="accordion-item--action" data-meet-popuband-item--action>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 37 37" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage_1024_Expanded-1" transform="translate(-892.000000, -1294.000000)">
            <g id="Oval-105-Copy-3-+-Line-+-Line-Copy-10-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy" transform="translate(892.000000, 1294.000000)">
                <circle id="Oval-105-Copy-3" fill="#FFFFFF" cx="18.5" cy="18.5" r="17.8833333"></circle>
                <path d="M18.5,11.1 L18.5,25.9" id="Line" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
                <path d="M25.9,18.5 L11.1,18.5" id="Line-Copy-10" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
            </g>
        </g>
    </g>
</svg>

  </div>
</div>

        
<div class="accordion-item"
      data-component-id="805"
      data-accordion-item="true"
      data-accordion-item-id="2"
      data-meet-popuband-item="true"
      data-meet-popuband-item-id="2">
  <div class="accordion-item--content -flush-on-mobile">
    <div class="accordion-item--left">
      <div class="accordion-item--top">
        <h2 class="accordion-item--content-title">
          Heading 3
        </h2>
        <div class="accordion-item--content-body">
          <div>Title 3</div><ul class='markdown--ul'>
          <li>List 1</li>
          <li>List 2</li>
          <li>List 3</li>
</ul>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item--cover">
    <div class="accordion-item--cover-blurb">
      <div class="accordion-item--cover-blurb-title">
        Heading 3 outside (repeat)
      </div>
      <div class="accordion-item--cover-blurb-subtitle">
        Title 3 outside
      </div>
    </div>
  </div>
  <div class="accordion-item--nav-label">
    Heading 3 outside (repeat)
  </div>
  <div class="accordion-item--action" data-meet-popuband-item--action>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 37 37" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage_1024_Expanded-1" transform="translate(-892.000000, -1294.000000)">
            <g id="Oval-105-Copy-3-+-Line-+-Line-Copy-10-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy-Copy" transform="translate(892.000000, 1294.000000)">
                <circle id="Oval-105-Copy-3" fill="#FFFFFF" cx="18.5" cy="18.5" r="17.8833333"></circle>
                <path d="M18.5,11.1 L18.5,25.9" id="Line" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
                <path d="M25.9,18.5 L11.1,18.5" id="Line-Copy-10" stroke="#9B9B9B" stroke-width="1.1" stroke-linecap="square"></path>
            </g>
        </g>
    </g>
</svg>

  </div>
</div>

    </div>
  </div>
</div>
    </div>
</div>
<script src="https://cdn.shopify.com/s/files/1/2021/3861/files/accordion_002.js?3072308791666306334"></script>

{% schema %}
  {
  "name": "flexbox-accordion",
  "settings": [],
  "presets": [
  {
  "name": "accordion_2",
  "category": "new"
  }
  ]
  }

{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}
